.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    & img{
        width: 90%;
        height: auto;
        object-fit: cover;
        border-radius: 50px;
    }
}

@media (min-width:780px){
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
        margin: auto;
        padding-bottom: 10px;
        padding-top: 10px;
        position: relative;
        margin: 25px;
        & img {
            width: 100%;
            height: 100%;
        }
    }
    footer{
        position: absolute;
        margin:0;
    }
}
@media (min-width:1075px){
    footer{
        position: relative;
    }
}