.main-info{
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    &-primtext{
        margin-bottom: 0;
        padding-bottom: 0;
    }
    &-segtext{
        margin-top: 0;
        padding-top: 0;
        font-size: 1rem;
    }
    &-form{
        display: flex;
        flex-direction: column;
        margin: 1rem;
        justify-items: center;
        text-align: center;
        gap: .2rem;
    }
}




@media (min-width:780px){
    .main-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        &-form{
            width: 60vw;
        }
    }

}