.main-ubicacion{
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    &-caja{
        width: 100vw;
    }
    
    }

    .main-section-ubicacion{
        align-items: center;
    }

    @media (min-width:780px){
        .main-ubicacion-caja{
            width: 80vw;
        }
    }
    