.btn-color:hover {
    border: 2.5px solid $c-primario-verde;
    color: $c-primario-verde;
    border-radius: 20px;
    padding: 4px;;
    transition-property: initial;
    transition-duration: 1s;
}
.main-form-button{
    display: flex;
    align-self: center;
    text-align: center;
    background: linear-gradient(#000000, $c-gradient-violeta);
    color: #fff;
    border-radius: 20px;
    padding: 8px;
    border: 2.5px linear-gradient(#000000, $c-gradient-violeta);;
    &:hover{
        background: none;
        border: 2.5px solid $c-primario-verde;
        color: $c-primario-verde;
        border-radius: 20px;
        padding: 8px;
        transition-property: initial;
        transition-duration: 1s;
        }
}
.descripcion {
    background: linear-gradient(#000000, #5e5170);
    border-radius: 20px;
    position: absolute;
    bottom: 40px;
    color: #fff;
    font-weight: bold;
    left: 45%;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    &:hover{
        background:linear-gradient(#ffffff00, #5e517000 );
        border: 2px solid #089841;
        align-items: center;
        padding: 8px;
        color: #089841;
        border-radius: 20px;
        padding: 10px;
        transition-property: initial;
        transition-duration: 1s;
    }
}


@media (min-width:780px) {
    .btn-color:hover {
        margin-top: -15px;
    }
    .descripcion{
        background: linear-gradient(#000000, $c-gradient-violeta);
        border-radius: 20px;
        position: absolute;
        bottom: 40px;
        left: 45%;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        padding: 10px;
        font-size: 30px;
        &:hover {
            background: linear-gradient(#00000000, #5e517000);
            border: 2px solid $c-primario-verde;
            color: $c-primario-verde;
            border-radius: 20px;
            padding: 8px;
            transition-property: initial;
            transition-duration: 1s;
        }
    }

}