header a {
    color: $c-primario-verde;
    text-decoration: none;
}
.titulo-color-rojo{
    color: $c-secundario-rojo;
}
.header-conjunto{
    background: linear-gradient(#000000, $c-gradient-violeta);
    color: #ffffff;
    align-items: center;
    max-width: 100%;
    justify-content: center;
    text-align: center;
    height: 140px;
}
.header-horario{
    display: none;
    &-noche{
        display: none;
    }
}

@media (min-width:1200px){
    .header-conjunto {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .header-horario {
        color: $c-primario-verde;
        font-size: 1,8rem;
        font-style: italic;
        font-weight: bold;
        display: block;
        &-noche{
            color: $c-primario-verde;
            font-size: 1,8px;
            font-style: italic;
            font-weight: bold;
            display: block;
            margin-top: -15px;  
        }
    }

}